# Ignore everything
*

# But not these files...
!app.js
!map.js
!parser.js
!odin_browser.js
!index.html
!styles.css




!images/
!images/**
!.gitignore

!data/
!data/**
!patch_experimental.js
!csave_io.js
!test_w1.js

!grid_editor.js

!docs/
!docs/**
!ui.js
!tsuki_port.js
!play_lighting.js
