# Ignore everything
*

# Whitelist specific files in root
!.gitignore
!index.html
!styles.css
!app.js
!map.js
!map_def.js
!parser.js
!odin_browser.js
!castle_core.js
!save_storage.js
!csave_io.js
!events_system.js
!music_system.js
!gacha_system.js
!progress_system.js
!activity_scheduler.js
!homecoming_system.js
!travel_system.js
!train_system.js
!train_studio.js
!npc_system.js
!default_layouts.js
!play_materials.js
!play_doors.js
!play_train.js
!play_sfx.js
!play_scenery.js
!day_cycle.js
!play_opening.js
!play_tutorial.js
!new_game.js
!grid_editor.js
!tsuki_port.js
!ui.js
!game_time.js
!play_lighting.js
!seeded_random.js
!seeded_scene_objects.js
!scene_objects.js
!play_shops.js
!shop_viewer.js
!ui_render.js
!bounty_board.js
!play_phone.js
!play_buttons.js
!furniture_subgroups.js
!weather_system.js
!play_npcs.js
!play_walkers.js
!play_minigames.js
!play_fishing.js
!play_mail.js
!routine_scheduler.js
!dialogue_payloads.js
!dialogue_manager.js
!play_dialogue_ui.js
!play_ui_windows.js
!play_mail_ui.js
!play_popups.js
!bubble_system.js
!mixtape_player.js
!shop_system.js
!farming_system.js
!newspaper_system.js
!bounty_system.js
!patch_experimental.js
!test_w1.js

# Whitelist data folder and its contents
!data/
!data/**

# Except specific data folders that are trash/scratch
data/HERRAMIENTAS/
data/maps_antes_anclas/
data/maps_antes_anims/
data/maps_antes_capas/
data/maps_antes_color/
data/maps_antes_grillas/
data/maps_antes_limpieza/
data/maps_antes_lineas/
data/maps_antes_luces/
data/maps_antes_origenes/
data/maps_antes_paredes/
data/maps_antes_shapes/
data/maps_antes_timed/
data/maps_antes_variantes/
data/maps_backup_grids/
data/prefab_exports/
data/shaders/
data/_backup_items/
data/*.csave

# Whitelist images folder and its contents
!images/
!images/**

# Except specific images folders that are trash/scratch
images/maps/_antes_de_rehornear/
images/maps/_mascaras_retiradas/


